.ggc-green {
  background-color: #00704a !important;
}
header {
  padding-bottom: 10px;
}
.success-color-dark: {
  background-color: #00704a !important;
}
.btn-green {
  background-color: #00704a;
}
.w3-btn-floating-large {
  color: #fff !important;
}
* {
	font-family: 'Ubuntu Condensed', sans-serif !important;
}
.list-group-divider {
  border-left: 0.15rem solid #00704a;
}
.list-group-item.list-group-item-action.active-custom {
  background-color: #e5f0ec;
}
.text-custom {
  font-size: 12px;
}
