.ggc-green {
  background-color: #00704a !important;
}
header {
  padding-bottom: 10px;
}
.success-color-dark: {
  background-color: #00704a !important;
}
.btn-green {
  background-color: #00704a;
}
.w3-btn-floating-large {
  color: #fff !important;
}
* {
	font-family: 'Ubuntu Condensed', sans-serif !important;
}
.list-group-divider {
  border-left: 0.15rem solid #00704a;
}
.list-group-item.list-group-item-action.active-custom {
  background-color: #e5f0ec;
}
.text-custom {
  font-size: 12px;
}
.table thead th, .table tbody td, .ui-grid-cell-contents {
  text-align: center;
}
.ui-grid-header-cell-label, .ui-grid-header-cell {
    display:inline-block;
    white-space:initial;
    text-align: center !important;
    vertical-align: middle;
    font-size: 10px;
}
.ui-grid-render-container {
  pointer-events: none;
}
.ui-grid, .ui-grid-viewport {
    height: auto !important;
}
.ui-grid-cell-contents {
  text-wrap: normal !important;
  word-wrap: break-word !important;
}
