<div class="container py-4">
  <div class="card mb-3">
    <div class="card-header ggc-green white-text">
      Please select one of the following options to continue
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 mb-3 d-flex">
          <div class="card w-100 text-center">
            <div class="card-body">
              <h4 class="h4">Reports for Individual Posters</h4>
              <a class="w3-btn-floating-large ggc-green w3-text-shadow" routerLink="/posters">
                <i class="ion-information-circled"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 d-flex">
          <div class="card w-100 text-center">
            <div class="card-body">
              <h4 class="h4">Reports for Individual Judges</h4>
              <a class="w3-btn-floating-large ggc-green w3-text-shadow" routerLink="/judges">
                <i class="ion-information-circled"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 d-flex">
          <div class="card w-100 text-center">
            <div class="card-body">
              <h4 class="h4">Report for Judges and Posters</h4>
              <a class="w3-btn-floating-large ggc-green w3-text-shadow" routerLink="/final-report">
                <i class="ion-information-circled"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 d-flex">
            <div class="card w-100 text-center">
                <div class="card-body">
                    <h4 class="h4">Setup: Import CSV</h4>
                    <a class="w3-btn-floating-large ggc-green w3-text-shadow" routerLink="/import-data">
                        <i class="ion-information-circled"></i>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
