<div class="container">
  <div class="card">
    <div class="card-header ggc-green white-text">
      Please select one of the following options to continue
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-4" align="center">
          <div class="card">
            <div class="card-block">
              <h4 class="h3">Reports for Individual Posters</h4>
              <a class="w3-btn-floating-large ggc-green w3-text-shadow" ui-sref="posterList"><i class="ion-information-circled"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4" align="center">
          <div class="card">
            <div class="card-block">
              <h4 class="h3">Reports for Individual Judges</h4>
              <a class="w3-btn-floating-large ggc-green w3-text-shadow" ui-sref="judgeList"><i class="ion-information-circled"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4" align="center">
          <div class="card">
            <div class="card-block">
              <h4 class="h3">Report for Judges and Posters</h4>
              <a class="w3-btn-floating-large ggc-green w3-text-shadow" ui-sref="finalReport"><i class="ion-information-circled"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
