<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Login</h2>
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="ion-search"></i>
              </div>
              <input type="text" class="form-control" placeholder="Username Search" ng-model="search.value">
            </div>
          </div>
        </form>
        <ul class="list-group" ng-repeat="item in items | filter: search.value track by $index" ng-if="search.value">
          <li class="list-group-item">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="user.username" ng-true-value="'{{item.name}}'" ng-click="updateSelection(item.name)">{{item.name}}
              </label>
            </div>
          </li>
        </ul>
        <form method="post" ng-submit="login()" name="loginForm">
            <div class="form-group has-feedback">
                <input class="form-control input-lg" type="text" name="username" ng-model="user.username" placeholder="Username" required autofocus>
                <span class="ion-at form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Password" required>
                <span class="ion-key form-control-feedback"></span>
            </div>
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
