<div class="container">
  <div class="card">
    <div class="card-header ggc-green white-text">
      Judge Reports: Please select one of the following judges to continue
    </div>
    <div class="card-block">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active-custom">
          <div class="col-xs-3" align="center">Judge</div>
          <div class="col-xs-3" align="center">Total Surveys</div>
          <div class="col-xs-6" align="center">Groups Surveyed</div>
        </button>
        <div ng-repeat="judge in judges">
          <a ui-sref="judge({id: judge.id})">
            <button type="button" class="list-group-item list-group-item-action" >
              <div class="col-xs-3" align="center">{{judge.name}}</div>
              <div class="col-xs-3 list-group-divider" align="center">{{judge.surveyLength}}</div>
              <div class="col-xs-6 list-group-divider" align="center">{{judge.groupsSurveyed}}</div>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
