<div class="container">
  <div class="card">
    <div class="card-header ggc-green white-text">
      Judge Reports: Please select one of the following judges to continue
    </div>
    <div class="card-block">
      <div class="md-form">
        <i class="ion-search prefix"></i>
        <input type="text" id="search" class="form-control" ng-model="search.value">
        <label for="search">Search: Poster, Student, or Judge</label>
      </div>
      <br />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Judge
            </th>
            <th>
              Number of Surveys
            </th>
            <th>
              Groups Surveyed
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="judge in judges | filter: search.value">
            <td>
              {{judge.name}}
            </td>
            <td>
              {{judge.surveyLength}}
            </td>
            <td>
              {{judge.groupsSurveyed | clearText}}
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" ui-sref="judge({id: judge.id})">
                View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
