<div class="container">
  <div class="card">
    <div class="card-header ggc-green white-text">
      Judge Information and Survey Results for <b>{{poster.group}}</b> Poster
    </div>
    <div class="card-block">
      <label>What format would you like to export?</label>
      <select ng-model="export_format"</select>
        <option value='csv'>CSV</option>
        <option value='pdf'>PDF</option>
      </select>
      <button ng-click="export()">Export</button>
      <div class="poster-csv-location">
        <label>Your CSV will show below:</label>
        <span class="ui-grid-exporter-csv-link">&nbsp</span>
      </div>
      <div ui-grid="gridOptions" class="grid" ui-grid-auto-resize ui-grid-exporter></div>
    </div>
  </div>
</div>
