<div class="container">
  <div class="card">
    <div class="card-header ggc-green white-text">
      Poster Reports: Please select one of the following posters to continue
    </div>
    <div class="card-block">
      <div class="md-form">
        <i class="ion-search prefix"></i>
        <input type="text" id="search" class="form-control" ng-model="search.value">
        <label for="search">Search: Poster, Student, or Judge</label>
        <p> Found {{ ( posters | filter: search.value).length }} posters.
        <p>Order by: {{ orderField }} 
          <button type="button" class="btn btn-primary btn-sm"
                  ng-click="orderReverse = (orderReverse + 1)%2">
            Reverse</button><br/>
      </div>
      <br />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <a ng-click="orderField = 'id'">ID</a>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
              </svg>
              <button type="button" class = "btn btn-primary btn-sm" id="sortID" ng-click="orderField = 'id'"> Sort by ID</button>
            </th>
            <th>
              <a ng-click="orderField = 'group'">Posters</a> <br/>
              <button type="button" class = "btn btn-primary btn-sm" id="sortPoster" ng-click="orderField = 'group'"> Sort by Posters</button>
            </th>
            <th>
              <a ng-click="orderField = 'students'">Students</a> <br/>
              <button type="button" class = "btn btn-primary btn-sm" id="sortStudent" ng-click="orderField = 'students'"> Sort by Students</button>
            </th>
            <th>
              <a ng-click="orderField = 'advisor'">Advisor</a>
              <button type="button" class = "btn btn-primary btn-sm" id="sortAdvisor" ng-click="orderField = 'advisor'"> Sort by Advisor</button>
            </th>
            <th>
              <a ng-click="orderField = 'countJudges'">Number of Surveys</a>
              <button type="button" class = "btn btn-primary btn-sm" id="sortJudges" ng-click="orderField = 'countJudges'"> Sort by Number of Surveys</button>
            </th>
            <th>
              <a ng-click="orderField = 'score'">Score</a>
              <button type="button" class = "btn btn-primary btn-sm" id="sortScore" ng-click="orderField = 'score'"> Sort by score</button>
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="poster in posters | orderBy: orderField : (orderReverse ? 'reverse':'') | filter: search.value">
            <td>
              {{poster.id}}
            </td>
            <td>
              {{poster.group}}
            </td>
            <td>
              {{poster.students | clearText}}
            </td>
            <td>
              {{poster.advisor}}
            </td>
            <td>
              {{poster.countJudges}}
            </td>
            <td>
              {{poster.score}}
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" ui-sref="poster({id: poster.id})">
                View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
