<div class="container">
  <div class="card">
    <div class="card-header ggc-green white-text">
      Poster Reports: Please select one of the following posters to continue
    </div>
    <div class="card-block">
      <div class="md-form">
        <i class="ion-search prefix"></i>
        <input type="text" id="search" class="form-control" ng-model="search.value">
        <label for="search">Search: Poster, Student, or Judge</label>
        <p> Found {{ ( posters | filter: search.value).length }} posters.
      </div>
      <br />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Poster
            </th>
            <th>
              Students
            </th>
            <th>
              Advisor
            </th>
            <th>
              Number of Surveys
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="poster in posters | filter: search.value">
            <td>
              {{poster.id}}
            </td>
            <td>
              {{poster.group}}
            </td>
            <td>
              {{poster.students | clearText}}
            </td>
            <td>
              {{poster.advisor}}
            </td>
            <td>
              {{poster.countJudges}}
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" ui-sref="poster({id: poster.id})">
                View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
