<div class="container">
    <div class="card">
        <div class="card-header ggc-green white-text py-2">
            Import Data
        </div>

        <div class="card-body d-flex flex-column">
            <div class="input-group" style="max-width: 25rem;">
                <div class="custom-file">
                    <input type="file" accept=".csv" style="cursor: pointer;" class="custom-file-input"
                        (change)="onFileSelected($event)">
                    <label class="custom-file-label">{{fileName() ?? "Select CSV File"}}</label>
                </div>
            </div>
            @if (file()) {
            <hr />
            <h3>Map Data</h3>
            <table class="mapping-table">
                <thead>
                    <tr>
                        <th>Database Column</th>
                        <th>CSV Column</th>
                    </tr>
                </thead>
                <tbody>
                    @for (column of mappedColumnArray(); track $index) {
                    <tr>
                        <td class="me-2"><span class="px-1 pe-2 mx-1" class="chip" data-toggle="tooltip" title="{{columnTooltips[column[0]]}}">{{ column[1] }}</span></td>
                        <td>
                            <select class="custom-select custom-select-sm"
                                style="width: fit-content; font-size: 1rem;"
                                (change)="onSelectionChanged($event, column[0])">
                                <option value="">[No column selected]</option>
                                @for (col of columns(); track $index) {
                                <option [selected]="selections[column[0]] == col" [value]="col">{{ col }}</option>
                                }
                            </select>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <hr />
            <h3 class="mb-0">First 3 CSV Rows</h3>
            <span class="text-muted mb-2">This CSV file contains a total of {{data().length}} rows.</span>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        @for (column of columns(); track $index) {
                        <th scope="col">{{column}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (row of dataTable(); track $index) {
                    <tr>
                        @for (cell of row; track $index) {
                        <td>{{cell}}</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
            @if (!cantUpload()) {
            <h3>First 3 Mapped Rows</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        @for (column of mappedColumnArray(); track $index) {
                        <th scope="col">{{column[1]}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (row of currentPostersTable(); track $index) {
                    <tr>
                        @for (cell of row; track $index) {
                        <td>{{cell}}</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
            }
            <hr />
            @if (autoMapped()) {
            <span class="mb-1 text-muted">Some columns have been automatically mapped for you. Review the column
                mappings, and when you are ready to upload, click the button below.</span>
            }
            <div class="d-flex align-items-center gap-3">
                <button [disabled]="cantUpload() || uploadedSuccessfully()" (click)="uploadData()"
                    class="btn btn-primary btn-sm" style="width: fit-content;">Upload to Database</button>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="overwritePosters"
                        (change)="overwrite = $event.target.checked">
                    <label class="custom-control-label" for="overwritePosters" data-toggle="tooltip"
                        title="If checked, replaces the posters in the database with the posters in the CSV file. If unchecked, appends the posters in the CSV file to those already in the database.">Overwrite
                        existing posters</label>
                </div>
            </div>
            @if (cantUpload()) {
            <span class="mt-1 text-danger">Every database column must have a CSV column selected as its data source.</span>
            }
            @if (uploadedSuccessfully()) {
            <span class="mt-1 text-muted">Successfully uploaded {{data().length}} posters to database.</span>
            } @else if (uploadedSuccessfully() === false) {
            <span class="mt-1 text-muted">Failed to upload data to database.</span>
            }
            }
        </div>
    </div>
</div>