/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./lib/Ionicons/css/ionicons.css";
@import "./lib/MDBootstrap/css/bootstrap.css";
@import "./lib/MDBootstrap/css/mdb.css";
@import "./css/w3.css";

.ggc-green {
  background-color: #00704a !important;
}
header {
  padding-bottom: 10px;
}
.success-color-dark {
  background-color: #00704a !important;
}
.btn-green {
  background-color: #00704a;
}
.w3-btn-floating-large {
  color: #fff !important;
}
* {
	font-family: 'Ubuntu Condensed', sans-serif !important;
}
.list-group-divider {
  border-left: 0.15rem solid #00704a;
}
.list-group-item.list-group-item-action.active-custom {
  background-color: #e5f0ec;
}
.text-custom {
  font-size: 12px;
}
.table thead th, .table tbody td, .ui-grid-cell-contents {
  text-align: center;
}
.ui-grid-header-cell-label, .ui-grid-header-cell {
    display:inline-block;
    white-space:initial;
    float: none;
    font-size: 12px;
    padding: 0 !important;
}
.ui-grid, .ui-grid-viewport {
    height: auto !important;
}
.ui-grid-cell-contents {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
thead {
  background-color: #00704a;
  color: #fff;
}
li.left {
  text-align: left;
}
